# --- Core ---
PyYAML>=6.0

# --- Kommunikation / Cloud ---
paho-mqtt>=1.6

# --- Datenbank ---
# sqlite3 ist in Python eingebaut → NICHT nötig

# --- Hardware ---
# adafruit-circuitpython-sht31d
# pyserial
# minimalmodbus
Adafruit-Blinka
smbus
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-bno055


#---GUI----
kivy
kivy-garden.graph

# --- Entwicklung (optional) ---
# watchdog